openapi: 3.0.3
info:
  title: State Street Alpha Data Platform Baskets Performance API
  description: The State Street Alpha Data Platform API provides institutional investment managers, asset owners, and wealth managers with programmatic access to their portfolio data across the front-to-back Alpha investment management platform. The API enables clients to retrieve portfolio positions, holdings, investable cash, pledged collateral, securities on loan, risk exposures, performance measurement, and transaction history in near real-time. Built on Snowflake and Microsoft Azure, the Alpha Data Platform provides intraday visibility across geographies, asset classes, and counterparties. Authentication uses OAuth 2.0 Client Credentials (RFC 6749 Section 4.4.2). All requests require the X-Correlation-ID header for request tracing. The API follows REST conventions with JSON as the default data format, versioned using Major.Minor.Patch semantics.
  version: 1.0.0
  contact:
    name: State Street API Support
    email: api-support@statestreet.com
    url: https://developer.statestreet.com
  termsOfService: https://www.statestreet.com/us/en/individual-investor/tools-and-resources/terms-and-conditions
  license:
    name: Proprietary
    url: https://developer.statestreet.com/api-platform-standards
servers:
- url: https://api.statestreet.com/v1
  description: State Street API Production
security:
- OAuth2:
  - portfolio:read
  - positions:read
  - transactions:read
  - performance:read
  - risk:read
tags:
- name: Performance
  description: Performance measurement and attribution operations
paths:
  /portfolios/{portfolioId}/performance:
    get:
      operationId: getPortfolioPerformance
      summary: Get Portfolio Performance
      description: Retrieve performance measurement and attribution data for a portfolio over a specified period. Returns time-weighted returns, money-weighted returns, and benchmark-relative performance. Supports daily and monthly calculation frequencies using industry-standard methodologies for all asset types.
      tags:
      - Performance
      parameters:
      - name: portfolioId
        in: path
        description: Unique portfolio identifier
        required: true
        schema:
          type: string
          example: PORT-12345
      - name: startDate
        in: query
        description: Performance measurement start date
        required: true
        schema:
          type: string
          format: date
          example: '2026-01-01'
      - name: endDate
        in: query
        description: Performance measurement end date
        required: true
        schema:
          type: string
          format: date
          example: '2026-04-30'
      - name: frequency
        in: query
        description: Performance calculation frequency
        required: false
        schema:
          type: string
          enum:
          - DAILY
          - MONTHLY
          - QUARTERLY
          - ANNUAL
          default: MONTHLY
      - $ref: '#/components/parameters/XCorrelationId'
      responses:
        '200':
          description: Portfolio performance data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceResponse'
        '404':
          description: Portfolio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    PerformanceResponse:
      type: object
      description: Portfolio performance measurement data
      properties:
        portfolioId:
          type: string
          example: PORT-12345
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        frequency:
          type: string
          example: MONTHLY
        portfolioReturn:
          type: number
          format: double
          description: Portfolio time-weighted return for the period (decimal)
          example: 0.0743
        benchmarkReturn:
          type: number
          format: double
          description: Benchmark return for the period (decimal)
          example: 0.0681
        activeReturn:
          type: number
          format: double
          description: Active return vs benchmark (decimal)
          example: 0.0062
        periods:
          type: array
          description: Performance data by period
          items:
            type: object
            properties:
              periodStart:
                type: string
                format: date
              periodEnd:
                type: string
                format: date
              portfolioReturn:
                type: number
                format: double
              benchmarkReturn:
                type: number
                format: double
    Error:
      type: object
      description: Error response
      properties:
        code:
          type: string
          description: Error code
          example: UNAUTHORIZED
        message:
          type: string
          description: Human-readable error message
          example: Access token is missing or invalid.
        correlationId:
          type: string
          description: Request correlation ID for support reference
          format: uuid
  parameters:
    XCorrelationId:
      name: X-Correlation-ID
      in: header
      description: Client-provided correlation ID for request tracing
      required: false
      schema:
        type: string
        format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 Client Credentials flow per RFC 6749 Section 4.4.2. Requires multifactor authentication for all user access.
      flows:
        clientCredentials:
          tokenUrl: https://api.statestreet.com/oauth/token
          scopes:
            portfolio:read: Read portfolio metadata and account information
            positions:read: Read portfolio positions and holdings
            transactions:read: Read transaction history
            performance:read: Read performance measurement and attribution data
            risk:read: Read risk analytics and exposure data
