openapi: 3.0.3
info:
  title: State Street Alpha Data Platform Baskets Risk API
  description: The State Street Alpha Data Platform API provides institutional investment managers, asset owners, and wealth managers with programmatic access to their portfolio data across the front-to-back Alpha investment management platform. The API enables clients to retrieve portfolio positions, holdings, investable cash, pledged collateral, securities on loan, risk exposures, performance measurement, and transaction history in near real-time. Built on Snowflake and Microsoft Azure, the Alpha Data Platform provides intraday visibility across geographies, asset classes, and counterparties. Authentication uses OAuth 2.0 Client Credentials (RFC 6749 Section 4.4.2). All requests require the X-Correlation-ID header for request tracing. The API follows REST conventions with JSON as the default data format, versioned using Major.Minor.Patch semantics.
  version: 1.0.0
  contact:
    name: State Street API Support
    email: api-support@statestreet.com
    url: https://developer.statestreet.com
  termsOfService: https://www.statestreet.com/us/en/individual-investor/tools-and-resources/terms-and-conditions
  license:
    name: Proprietary
    url: https://developer.statestreet.com/api-platform-standards
servers:
- url: https://api.statestreet.com/v1
  description: State Street API Production
security:
- OAuth2:
  - portfolio:read
  - positions:read
  - transactions:read
  - performance:read
  - risk:read
tags:
- name: Risk
  description: Risk analytics and exposure operations
paths:
  /portfolios/{portfolioId}/risk:
    get:
      operationId: getPortfolioRisk
      summary: Get Portfolio Risk Analytics
      description: Retrieve risk analytics for a portfolio including value at risk (VaR), tracking error, beta, duration, convexity, and factor exposures. The TrueView risk analytics engine provides scenario analysis and stress testing capabilities for regulatory reporting and investment decision-making.
      tags:
      - Risk
      parameters:
      - name: portfolioId
        in: path
        description: Unique portfolio identifier
        required: true
        schema:
          type: string
          example: PORT-12345
      - name: asOfDate
        in: query
        description: As-of date for risk calculation
        required: false
        schema:
          type: string
          format: date
          example: '2026-05-01'
      - $ref: '#/components/parameters/XCorrelationId'
      responses:
        '200':
          description: Portfolio risk analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskResponse'
        '404':
          description: Portfolio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: Error response
      properties:
        code:
          type: string
          description: Error code
          example: UNAUTHORIZED
        message:
          type: string
          description: Human-readable error message
          example: Access token is missing or invalid.
        correlationId:
          type: string
          description: Request correlation ID for support reference
          format: uuid
    RiskResponse:
      type: object
      description: Portfolio risk analytics
      properties:
        portfolioId:
          type: string
          example: PORT-12345
        asOfDate:
          type: string
          format: date
        valueAtRisk95:
          type: number
          format: double
          description: 95% confidence level 1-day Value at Risk (decimal)
          example: 0.0142
        valueAtRisk99:
          type: number
          format: double
          description: 99% confidence level 1-day Value at Risk (decimal)
          example: 0.0218
        trackingError:
          type: number
          format: double
          description: Annualized tracking error vs benchmark (decimal)
          example: 0.0315
        beta:
          type: number
          format: double
          description: Portfolio beta relative to benchmark
          example: 1.02
        modifiedDuration:
          type: number
          format: double
          description: Portfolio modified duration (for fixed income)
          example: 5.43
        exposures:
          type: object
          description: Factor exposure breakdown
          properties:
            marketExposure:
              type: number
              format: double
            creditExposure:
              type: number
              format: double
            currencyExposure:
              type: number
              format: double
  parameters:
    XCorrelationId:
      name: X-Correlation-ID
      in: header
      description: Client-provided correlation ID for request tracing
      required: false
      schema:
        type: string
        format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 Client Credentials flow per RFC 6749 Section 4.4.2. Requires multifactor authentication for all user access.
      flows:
        clientCredentials:
          tokenUrl: https://api.statestreet.com/oauth/token
          scopes:
            portfolio:read: Read portfolio metadata and account information
            positions:read: Read portfolio positions and holdings
            transactions:read: Read transaction history
            performance:read: Read performance measurement and attribution data
            risk:read: Read risk analytics and exposure data
