openapi: 3.2.0
info:
  title: State Street Fund Connect Baskets API
  description: The State Street Fund Connect API enables authorized participants (APs), ETF fund managers, and custodians to programmatically manage ETF creation and redemption orders through the Fund Connect platform.
  version: 1.0.0
  contact:
    name: State Street API Support
    email: api-support@statestreet.com
    url: https://developer.statestreet.com
  termsOfService: https://www.statestreet.com/us/en/individual-investor/tools-and-resources/terms-and-conditions
  license:
    name: Proprietary
    url: https://developer.statestreet.com/api-platform-standards
servers:
- url: https://api.statestreet.com/v1/fund-connect
  description: State Street Fund Connect API Production
security:
- OAuth2:
  - fund-connect:orders:read
  - fund-connect:orders:write
  - fund-connect:baskets:read
tags:
- name: Baskets
  description: ETF portfolio composition basket operations
paths:
  /funds/{fundId}/baskets:
    get:
      operationId: getFundBasket
      summary: Get ETF Portfolio Basket
      description: Retrieve the current portfolio composition basket for an ETF fund. Returns the in-kind securities list with required quantities for creation/redemption units, as well as any cash component. Baskets are published daily prior to market open.
      tags:
      - Baskets
      parameters:
      - name: fundId
        in: path
        description: Unique fund identifier
        required: true
        schema:
          type: string
          example: ETF-SPDR-SPY
      - name: date
        in: query
        description: Date for which to retrieve the basket composition
        required: false
        schema:
          type: string
          format: date
          example: '2026-05-02'
      - $ref: '#/components/parameters/XCorrelationId'
      responses:
        '200':
          description: ETF portfolio basket composition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasketResponse'
        '404':
          description: Fund or basket not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    XCorrelationId:
      name: X-Correlation-ID
      in: header
      description: Client-provided correlation ID for request tracing
      required: false
      schema:
        type: string
        format: uuid
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
          example: UNAUTHORIZED
        message:
          type: string
          example: Access token is missing or invalid.
        correlationId:
          type: string
          format: uuid
    BasketResponse:
      type: object
      description: ETF portfolio basket composition
      properties:
        fundId:
          type: string
          example: ETF-SPDR-SPY
        date:
          type: string
          format: date
        cashComponent:
          type: number
          format: double
          description: Cash component per creation unit in base currency
          example: 1250.5
        securities:
          type: array
          description: In-kind securities required per creation/redemption unit
          items:
            type: object
            properties:
              securityId:
                type: string
                example: US0378331005
              securityIdType:
                type: string
                example: ISIN
              securityName:
                type: string
                example: Apple Inc
              ticker:
                type: string
                example: AAPL
              quantity:
                type: number
                format: double
                description: Shares per creation unit
                example: 1250
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.statestreet.com/oauth/token
          scopes:
            fund-connect:orders:read: Read ETF order history and status
            fund-connect:orders:write: Submit and cancel ETF orders
            fund-connect:baskets:read: Read ETF portfolio basket compositions
